<section class="container-fluid custom-container">
    <header class="screen-header">
        <div class="row">
            <div class="col-sm-12 page-title mt10">
                <h1>
                    {{ this['pageTitle'] | translate }}
                </h1>
            </div>
        </div>
    </header>
    <form novalidate [formGroup]="this['uiForm']">
        <section class="screen-body">
            <div class="row mt10">
                <div class="col-sm-3">
                    <label class="col24">{{'Ticket Type' | translate}}</label>
                    <div class="col24">
                        <select id="MyContactType" formControlName="MyContactType" tabindex="3" class="form-control" (change)="myContactTypeOnchange($event)">
                            <option value="all">{{'All' | translate}}</option>
                            <option *ngFor="let MyContactType of this['pageParams']['ttContactType']" [value]="MyContactType.ContactTypeCode">{{MyContactType.ContactTypeDesc}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="DateFrom">{{'From Date' | translate}}</label>
                    <div class="col24">
                        <icabs-datepicker id="DateFrom" [(dt)]="this['pageParams']['dtNewFromDate']" [isReadonly]="dateReadOnly" [isDisabled]="dateReadOnly"
                            (selectedValue)="dateFromSelectedValue($event)"></icabs-datepicker>
                        <input type="hidden" id="DateFrom" formControlName="DateFrom" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Passed' | translate}}/{{'Not Passed' | translate}}</label>
                    <div class="col24">
                        <select id="MyFilterPassed" formControlName="MyFilterPassed" tabindex="3" class="form-control" (change)="myFilterPassedOnchange($event)">
                            <option value="all">{{'All' | translate}}</option>
                            <option value="passed">{{'Passed' | translate}}</option>
                            <option value="notpassed">{{'Not Passed' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="col24" for="DateTo">{{'To Date' | translate}}</label>
                    <div class="col24">
                        <icabs-datepicker id="DateTo" [(dt)]="this['pageParams']['dtNewToDate']" [isReadonly]="dateReadOnly" [isDisabled]="dateReadOnly"
                            (selectedValue)="dateToSelectedValue($event)"></icabs-datepicker>
                        <input type="hidden" id="DateTo" formControlName="DateTo" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Owner' | translate}}/{{'Action' | translate}}</label>
                    <div class="col24">
                        <select id="MyFilterLevel" formControlName="MyFilterLevel" tabindex="3" class="form-control" (change)="myFilterLevelOnchange($event)">
                            <option value="all">{{'All' | translate}}</option>
                            <option *ngFor="let level of this['pageParams']['vFilterLevelList']" [value]="level.value">{{level.text | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 mt20">
                    <!--<input type="text" id="CreateRenewalInd" class="form-control" formControlName="CreateRenewalInd">-->
                    <div class="inline-block pr10" *ngFor="let l of legend">
                        <div class="legend inline-block mr5" [style.background-color]="l.color"></div>
                        <label>{{ l.label | translate }}</label>
                    </div>
                </div>
            </div>

            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Who' | translate}}</label>
                    <div class="col24">
                        <select id="MyFilterValue" class="form-control" formControlName="MyFilterValue" tabindex="3" (change)="myFilterValueOnchange($event)">
                            <option value="all">{{'All' | translate}}</option>
                            <option *ngFor="let val of this['pageParams']['vFilterValueList']" [value]="val.value">{{val.text | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="this['pageParams']['MyFilterEmployeeCodeIsHidden']">
                    <label class="col24">{{'Employee' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col24" [ngClass]="!this['pageParams']['MyFilterEmployeeCodeIsHidden'] ? 'hidden':''">
                        <div class="col22 pr5">
                            <input id="MyFilterEmployeeCode" class="form-control" formControlName="MyFilterEmployeeCode" size="6" maxlength="8" (change)="myFilterEmployeeCodeOnchange($event)"
                                (blur)="myFilterEmployeeCodeOnblur($event)" [icabsDirFocus]="MyFilterEmployeeCodeIsfocus" eTypeCode>
                        </div>
                        <div class="col2">
                            <icabs-ellipsis #EmployeeSearchEllipsis [autoOpen]="ellipsisConfig.MyFilterEmployeeCode.autoOpen" #employeeSearchEllipsis
                                [showCloseButton]="ellipsisConfig.MyFilterEmployeeCode.showCloseButton" [childConfigParams]="ellipsisConfig.MyFilterEmployeeCode.childConfigParams"
                                [modalConfig]="modalConfig" [contentComponent]="ellipsisConfig.MyFilterEmployeeCode.contentComponent"
                                (ellipsisData)="onEmployeeSearchDataReceived($event, 'MyFilterEmployeeCode')" [showHeader]="ellipsisConfig.MyFilterEmployeeCode.showHeader"
                                (modalHidden)="modalHiddenEmployeeSearch('MyFilterEmployeeCode')" [searchModalRoute]="ellipsisConfig.MyFilterEmployeeCode.searchModalRoute"
                                [disabled]="ellipsisConfig.MyFilterEmployeeCode.disabled"></icabs-ellipsis>
                        </div>
                    </div>
                    <div class="col24" [ngClass]="!this['pageParams']['TeamIDIsHidden'] ? 'hidden' : ''">
                        <div class="col22 pr5">
                            <input id="TeamID" class="form-control" formControlName="TeamID" size="12" maxlength="12" (change)="teamIDOnchange($event)"
                                [icabsDirFocus]="TeamIDIsfocus" eTypeTextFree>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt2">
                <div class="col-sm-3">
                    <label class="col24">{{'Reassignment' | translate}}</label>
                    <div class="col24">
                        <select id="ReassignSelect" class="form-control" formControlName="ReassignSelect" tabindex="16" (change)="reassignSelectOnChange($event)">
                            <option id="0" value="All">{{'All' | translate}}</option>
                            <option id="1" value="AllReassigned">{{'All Reassigned' | translate}}</option>
                            <option id="2" value="ReassignedTo">{{'Reassigned To' | translate}}</option>
                            <option id="3" value="ReassignedFrom">{{'Reassigned From' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3" *ngIf="this['pageParams']['EmployeeCodeIsHidden']">
                    <label class="col24">{{'Employee' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col22 pr5">
                        <input id="EmployeeCode" class="form-control" formControlName="EmployeeCode" size="8" maxlength="8" [ngClass]="!this['pageParams']['EmployeeCodeIsHidden'] ? 'hidden':'' "
                            [icabsDirFocus]="EmployeeCodeIsFocus" (blur)="employeeCodeOnblur($event)" eTypeCode>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #EmployeeSearchEllipsis [autoOpen]="ellipsisConfig.EmployeeCode.autoOpen" #employeeSearchEllipsis [showCloseButton]="ellipsisConfig.EmployeeCode.showCloseButton"
                            [childConfigParams]="ellipsisConfig.EmployeeCode.childConfigParams" [modalConfig]="modalConfig" [contentComponent]="ellipsisConfig.EmployeeCode.contentComponent"
                            (ellipsisData)="onEmployeeSearchDataReceived($event, 'EmployeeCode')" [showHeader]="ellipsisConfig.EmployeeCode.showHeader"
                            (modalHidden)="modalHiddenEmployeeSearch('EmployeeCode')" [searchModalRoute]="ellipsisConfig.EmployeeCode.searchModalRoute"
                            [disabled]="ellipsisConfig.EmployeeCode.disabled"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-3">
                    <label class="col24 " for="ToEmployeeCode">{{'Assign to Employee' | translate}}
                        <span class="mandatory">*</span>
                    </label>
                    <div class="col8 pr5">
                        <input type="text" class="form-control" formControlName="ToEmployeeCode" id="ToEmployeeCode" size="8" (change)="toEmployeeCodeOnChange($event)"
                            (blur)="toEmployeeCodeOnblur($event)" eTypeCode>
                    </div>
                    <div class="col14 pr5">
                        <input type="text" class="form-control" formControlName="ToEmployeeSurname" id="ToEmployeeSurname" size="20" eTypeText>
                    </div>
                    <div class="col2">
                        <icabs-ellipsis #EmployeeSearchEllipsis [autoOpen]="ellipsisConfig.ToEmployeeCode.autoOpen" #employeeSearchEllipsis [showCloseButton]="ellipsisConfig.ToEmployeeCode.showCloseButton"
                            [childConfigParams]="ellipsisConfig.ToEmployeeCode.childConfigParams" [modalConfig]="modalConfig"
                            [contentComponent]="ellipsisConfig.ToEmployeeCode.contentComponent" (ellipsisData)="onEmployeeSearchDataReceived($event, 'ToEmployeeCode')"
                            [showHeader]="ellipsisConfig.ToEmployeeCode.showHeader" (modalHidden)="modalHiddenEmployeeSearch('ToEmployeeCode')"
                            [searchModalRoute]="ellipsisConfig.ToEmployeeCode.searchModalRoute" [disabled]="ellipsisConfig.ToEmployeeCode.disabled"></icabs-ellipsis>
                    </div>
                </div>
            </div>
            <hr class="mt15 mb15">
            <div class="row">
                <div class="col-sm-12">
                    <icabs-refresh (click)="refresh()"></icabs-refresh>
                    <icabs-pagination #riGridPagination [ngClass]="this.totalRecords > 0 ? '':'hidden'" [totalItems]="totalRecords" [currentPage]="curPage"
                        [itemsPerPage]="pageSize" (getCurrentPage)="getCurrentPage($event)"></icabs-pagination>
                </div>
            </div>
            <div class="row mt10">
                <div class="col-sm-12">
                    <icabs-grid-advanced #riGrid id="riGrid" (onSuccess)="riGrid_AfterExecute()" (bodyDblClick)="riGrid_BodyOnDblClick($event)"
                        (bodyKeyDown)="riGrid_BodyOnKeyDown($event)" (bodyColumnBlur)="SelectedRowFocus($event)" (TRClick)="tbodyCustomerContactOnClick($event)"
                        (headerClick)="riGrid_Sort($event)"></icabs-grid-advanced>
                </div>
            </div>
        </section>

        <div class="row mt10">
            <div class="col-sm-6" class="hidden">
                <input type="text" class="form-control col8" formControlName="CallOutRowID" id="CallOutRowID">
                <input type="text" class="form-control col8" formControlName="RowID" id="RowID">
                <input type="text" class="form-control col8" formControlName="Row" id="Row">
                <input type="text" class="form-control col8" formControlName="Cell" id="Cell">
                <input type="text" class="form-control col8" formControlName="SelectedCallLogID" id="SelectedCallLogID">
            </div>
        </div>
    </form>
</section>